.typesPanelContainer {
  display: flex;
  width: 310px;
  height: 75px;
  position: absolute;
  margin-top: 215px;
  margin-left: -300px;
  gap: 28px;
  align-items: center;
}

.typesBorderPanels {
  display: flex;
  width: 140px;
  height: 63px;
  background: linear-gradient(50deg, silver, gray);
  border-radius: 5px;
  border: 1px solid black;
}

.typesScreenPanel {
  display: flex;
  width: 130px;
  height: 53px;
  background: black;
  margin: auto;
  border-radius: 5px;
}

.type {
  display: flex;
  width: 120px;
  height: 10px;
  font-family: monospace;
  margin-top: 6px;
  margin-left: 40px;
  align-items: center;
  color: white;
}