.borderPokeTop {
  display: flex;
  width: 450px;
  height: 150px;
  background: black;
  position: absolute;
  clip-path: polygon(0 0, 100% 0,
    100% calc(100% - 75.00px),
    calc(100% - 170px) calc(100% - 75px),
    calc(100% - 250.00px) 100%, 0 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  
}


.pokeTop {
  display: flex;
  width: 450px;
  height: 149px;
  background: linear-gradient(rgb(200, 0, 0),rgb(255, 0, 0));
  position: absolute;
  clip-path: polygon(0 0, 100% 0,
    100% calc(100% - 75.00px),
    calc(100% - 170px) calc(100% - 75px),
    calc(100% - 250.00px) 100%, 0 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.borderHuge {
  display: flex;
  width: 119px;
  height: 119px;
  background: radial-gradient(rgb(163, 164, 159), rgb(122, 123, 119));
  border-radius: 100%;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
}

.pokeCircle.blue {
  display: flex;
  width: 100px;
  height: 100px;
  background: radial-gradient(rgb(36, 212, 212), rgb(15, 180, 180), rgb(9, 114, 155));
  border-radius: 100%;
  position: absolute;
  margin: 9px 9px;
  border: 1px solid black;
}

.circleContainer {
  display: flex;
  margin-left: 135px;
  width: 450px;
  height: 150px;
}

.borderTiny {
  display: flex;
  width: 39px;
  height: 39px;
  background: radial-gradient(rgb(163, 164, 159), rgb(122, 123, 119));
  border-radius: 100%;
  position: relative;
  margin: 10px 2px;
  border: 1px solid black;
}

.pokeCircle.red {
  display: flex;
  width: 29px;
  height: 29px;
  background: radial-gradient(rgb(187, 0, 0), rgb(163, 0, 0), rgb(197, 0, 0));
  border-radius: 100%;
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid black;
}

.pokeCircle.yellow {
  display: flex;
  width: 29px;
  height: 29px;
  background: radial-gradient(rgb(190, 140, 2), rgb(255, 166, 0), rgb(208, 255, 0));
  border-radius: 100%;
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid black;
}

.pokeCircle.green {
  display: flex;
  width: 29px;
  height: 29px;
  background: radial-gradient(rgb(15, 175, 0), rgb(15, 216, 58)),rgb(30, 255, 0);
  border-radius: 100%;
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  border: 1px solid black;
}