.pokeBody {
  display: flex;
  position: absolute;
  width: 450px;
  height: 750px;
  background-color: rgb(175, 0, 0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid black;
}

.bodyScreen {
  display: flex;
  position: absolute;
  width: 340px;
  height: 620px;
  background: rgb(218, 0, 0);
  clip-path: polygon(
    0 80px,
    190px 80px,
    270px 0,
    100% 0,
    100% 100%,
    0 100%
    );
  margin: 100px 25px 25px 25px;
}
